sudo: required
dist: trusty
os: linux
language: node_js
node_js:
  - 8.11.2
cache:
  directories:
    - functions/parrot/node_modules
before_install:
  - sudo apt update
  - sudo apt install -y apt-transport-https build-essential
  - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
  - echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt update && sudo apt install -y yarn --no-install-recommends
  - npm install -g node-pre-gyp node-gyp
  - cd functions/parrot
install:
  - yarn install
script:
  - yarn test
notifications:
  email: false
